html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;

}

.logo{
    max-height: 4rem;
}

.navbarGap {
    margin-top: 5rem;
}

.custom-primary {
    background-color: #FF5722;
    border-color: #FF5722;
}

    .custom-primary:hover,
    .custom-primary:focus {
        background-color: #ff6e40;
        border-color: #ff6e40;
        outline: none;
    }

    .custom-primary:active {
        background-color: #e64a19;
        border-color: #e64a19;
    }

    .custom-primary:focus {
        outline: none;
    }