@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model System.Collections.Generic.Dictionary<string, Champion>;
@{
}
@if(Model == null)
{
    <div id="spinner" class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
}
else
{
    <div class="navbarGap pt-4">
        <div class="mt-4 row">
            @if (@Model != null)
            {
                @foreach (KeyValuePair<string, Champion> entry in Model)
                {
                    <div class="flex flex-row col-6 col-xs-6 col-sm-6 col-md-2 cursor-pointer mb-3">
                        <div class="d-flex">
                            <img data-custom-value='@entry.Value.id' id="champBtn" role="button" class="champBtn mx-auto" src="@("http://ddragon.leagueoflegends.com/cdn/13.8.1/img/champion/" + entry.Value.id + ".png")"></img>
                        </div>
                        <div class="text-center fw-bold">@entry.Value.name</div>
                    </div>
                }
            }

        </div>

    </div>

}


<script>
    let clickableDivs = document.querySelectorAll('.champBtn');
    clickableDivs.forEach(function (div) {
        div.addEventListener('click', function (e) {
            let clickedDiv = e.target;
            let value = clickedDiv.getAttribute('data-custom-value');
            redirectToAnotherPage(value);
        });
    });


    // Function to redirect to another action with parameter
    function redirectToAnotherPage(champName) {
        // Construct the URL for the redirect with the parameter
        console.log("Champion CLicked was: ", champName);
        let url = '/Champion/Detail?champName=' + champName;

        // Redirect to another action in the same controller with the parameter
        window.location.href = url;
    }
</script>
