@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model System.Collections.Generic.Dictionary<string, Champion>;
@{
}

<h1>Champion Test Page</h1>

<div class="row">
    @foreach (KeyValuePair<string, Champion> entry in Model)
    {
        <div class="flex flex-row col-6 col-sm-6 col-md-2 cursor-pointer">
            <div class="d-flex">
                <img role="button" class="mx-auto" src="@("http://ddragon.leagueoflegends.com/cdn/13.8.1/img/champion/" + entry.Value.id + ".png")"></img>
                </div>
            <div>@entry.Value.name</div>
        </div>
    }
</div>
